<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <header>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
		
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>   	
	
	</header>
    <!-- Body -->
    <body>
        <!--- Navigation -->
        <nav>
            {% include 'navigation.html' %}
        </nav>
        <div class="container">
            {% include 'home.html' %}
        </div>
        <div class="container">
            {% include 'story.html' %}
        </div> 
        <div class="container">
            {% include 'details.html' %}
        </div>
        <div class="container">
            {% include 'registry.html' %}
        </div>    
    </body>
    <!-- Footer -->
    <footer>
        Sean Kennedy &copy 2016
    </footer>
</html>



