<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<header>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</header>
<!-- Body -->
<body>
    <!--- Nav -->
    <nav>
        <ul style="list-style-type:none">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/photos">Photos</a></li>
        </ul>   
    </nav>
    <div id='container'>
        {% block container %}
        {% endblock %}
    </div>
</body>
<!-- Footer -->
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</html>



