<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <header>
        <meta charset="utf-8">
        <title>
            Welcome from Amanda Blease and Sean Kennedy
        </title>
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <!-- JS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>   	
	</header>
    <body>
        <!-- Navigation
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="row" id="navigation">
            <div class="four columns offset-by-four" id="nav">
                <a href="#welcome">Welcome</a>
                <a href="#story">Our Story</a>
                <a href="#details">Event</a>
                <a href="#registries">Registry</a>
                <a href="/photos">Photos</a>
                <a href="/rsvp">RSVP</a>
            </div>
        </div>
       <!-- Content 
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="container">
            {% include 'home.html' %}
        </div>
        <div class="container">
            {% include 'story.html' %}
        </div> 
        <div class="container">
            {% include 'details.html' %}
        </div>
        <div class="container">
            {% include 'registry.html' %}
        </div>    
    </body>
    <!-- Footer
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <footer>
        <div class="row">
            <div class="two columns offset-by-one">
                Sean Kennedy &copy 2016
            </div>
        </div>
    </footer>
</html>



