{% extends "base.html" %}
{% block title %}
    Wedding Ceremony
{% endblock %}
{% block content %}
<div class="container" id="ceremony">
    <div class="eight columns offset-by-two">
        <br>
        <h1><b>Ceremony</b></h1>
        <hr class="style-one"></hr>
        <span id="ceremony-photo">
            <img src="{{ url_for('static', filename='images/chapel_dulcinea.jpg') }}"/>
        </span>
        <hr class="style-one" id="second"></hr>
        <span class="subheader">Where:</span>
        <a href=https://goo.gl/maps/kpWRzTqjXT82>
            <p>Chapel Dulcinea, 16221 Crystal Hills Drive</p>
        </a>
        <span class="subheader">When:</span>
        <p> February 10, 2016 3:30-4:30 P.M.</p>
        <span class="subheader">Details:</span>
        <p>
            We will have a brief civil ceremony at Chapel Dulcinea. Please note Chapel Dulcinea will be <b>standing room only</b> with a few benches for elderly guests so plan to bring a change of footwear accordingly if needed. There is room for 30 under the chapel and room for about 40-80 people around the outside. It’s an outdoor venue and Texas weather can be unpredictable so plan accordingly! It will be first come first served for seating under the chapel. But rain or shine, we'll head to the reception venue after for some delicious paella and drinks, so don't fret!
        </p>
        <span class="subheader">Parking:</span>
        <p> There's lot parking.</p>
        <br>
    </div>
</div>
{% endblock %}