{% extends "base.html" %}
{% block title %}
    Wedding Ceremony
{% endblock %}
{% block content %}
    <div class="container" id="ceremony">
        <br>
        <h1><b>Ceremony</b></h1> 
        <div class="row">
            <div class="six columns">       
                <span class="subheader">Where:</span>
                    <p>Chapel Dulcinea, 16221 Crystal Hills Drive</p>
                <span class="subheader">When:</span>
                    <p> February 10, 2016 3:30-4:30 P.M.</p>
                <span class="subheader">Details:</span>
                    <p>
                    We will have a brief civil ceremony at Chapel Dulcinea. Please note Chapel Dulcinea will be <b>standing-room only</b> with a few benches for elderly guests so plan to bring a change of footwear accordingly if needed. There is room for 30 under the chapel and room for about 40-80 outside. That's right, <b><i>outside</i></b>; it’s an outdoor venue, and Texas weather is notoriously unpredictable! It will be first-come first-serve  on seating under the chapel.
                    </p>
                <span class="subheader">Parking:</span>
                    <p> Lot Parking </p>
            </div>
            <div class="six columns">
                 <img src="{{ url_for('static', filename='images/chapel_dulcinea.jpg') }}" width="580" height="386"/>
            </div>
        </div>
    </div>
{% endblock %}