<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <header>
    <meta charset="utf-8">
    <title>
        Amanda and Sean's Wedding Site
    </title>
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:800|Exo+2:800" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <!-- JS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </header>
    <body id="welcome">
       <!-- Navigation
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="row" id="navigation">
            <div class="twelve columns" id="home-nav">
                <a href="/">Welcome</a>
                 &nbsp
                <img src="{{ url_for('static', filename='images/rings_2.png') }}"  width="15px" height="15px"/>
                &nbsp
                <a href="/story">Our Story</a>
                 &nbsp
                <img src="{{ url_for('static', filename='images/rings_2.png') }}"  width="15px" height="15px"/>
                &nbsp
                <a href="/ceremony">Ceremony</a>
                 &nbsp
                <img src="{{ url_for('static', filename='images/rings_2.png') }}"  width="15px" height="15px"/>
                &nbsp
                <a href="/reception">Reception</a>
                 &nbsp
                <img src="{{ url_for('static', filename='images/rings_2.png') }}"  width="15px" height="15px"/>
                &nbsp
                <a href="/registry">Registry</a>
                 &nbsp
                <img src="{{ url_for('static', filename='images/rings_2.png') }}"  width="15px" height="15px"/>
                &nbsp
                <a href="/rsvp">RSVP</a>
            </div>
            <div class="mobile mobile-two">
              <div class="header">
                <div class="menu-toggle">
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
              <div class="mobile-nav">
                <ul>
                  <li><a href="/">Welcome</a></li>
                  <li><a href="/story">Our Story</a></li>
                  <li><a href="/ceremony">Ceremony</a></li>
                  <li><a href="/reception">Reception</a></li>
                  <li><a href="/registry">Registry</a></li>
                  <li><a href="/rsvp">RSVP</a></li>
                </ul>
              </div>
            </div>
        </div>
        <!-- Content 
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="seven columns">
        <span class="home_header">
          <h1> 
            WE<br>
            ARE<br>
            GETTING<br> 
            MARRIED!
          </h1>
          <img src="{{ url_for('static', filename='images/wedding_rings-96.png') }}"/>
          <img src="{{ url_for('static', filename='images/wedding_cake-96.png') }}"/>
          <img src="{{ url_for('static', filename='images/groom-96.png') }}" />
          <img src="{{ url_for('static', filename='images/bride-96.png') }}"/>
        </span>
    </div>
  </div>
  </div
  </body>
  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row">
        <div class="twelve columns">
            <footer>
                 &nbsp 
                 &nbsp 
                 &nbsp
                 &nbsp
                 &nbsp
                 &copy 2016 Sean Kennedy
            </footer>
        </div>
    </div>
    
</html>






