<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
    <header>
        <meta charset="utf-8">
        <title>
                {% block title %}
                {% endblock %}
        </title>
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    </header>
    <body id="admin">
    <!-- Navigation
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="row" id="navigation">
            <div class="twelve columns" id="nav">
                <a href="/">Back to Site</a>
            </div>
        </div>
        <!-- Content 
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="container">
            <br>
            <h1><b>Manage Guests</b></h1>
            <hr class="style-one"></hr>
            <div class="row">
                <div class="twelve columns">
                   <h4><b>Upload Guest List:</b></h4>
                    <form method="post" enctype=multipart/form-data action="{{ url_for('general.manage') }}">
                        {{ form.csrf_token }}  
                        {{ form.guests }}       
                        &nbsp
                        &nbsp
                        <button class="button-primary">Upload File</button>
                    </form>
                    <span id="errors">
                        {% if error != None %}
                            <b>{{ error }}</b>
                        {% endif %}
                    </span>
                    <span id="success">
                        {% if success %}
                            <b>SUCCESS! The new list was uploaded</b>
                        {% endif %}
                    </span>
                </div>
                </div>
                <br>
                <br>
                <h4><b>RSVP-ed Guests:</b></h4>
                <div class="row">
                <div class="twelve columns" id='current_guests'>
                    <table class="u-full-width">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>RSVP Time</th>
                                <th>Email</th>
                                <th>Ceremony</th>
                                <th>Reception</th>
                                <th>Guest Type</th>
                            </tr>
                        </thead>
                        {% for guest in guests %}
                            <tr>
                                <th>{{ guest['name'] }}</th> 
                                <th>{{ guest['rsvp_time'] }}</th> 
                                <th>{{ guest['email'] }}</th> 
                                <th>{{ guest['ceremony'] }}</th>
                                <th>{{ guest['reception'] }}</th>
                                <th>{{ guest['guest_type'] }}</th>
                            </tr>
                        {% endfor %}
                    </table>
                    <form action="{{ url_for('general.download') }}"">
                        <button class="button-primary">Download Current Guests</button>
                    </form>
                 </div>
              </div>
            </div>
        <!-- JS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->     
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    </body>
  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <footer>
    </footer>
</html>






