{% extends "base.html" %}
{% block title %}
    Wedding Reception
{% endblock %}
{% block content %}
    <div class="container" id="reception">
        <div class="eight columns offset-by-two">
            <br>
            <h1><b>Reception</b></h1>
            <hr class="style-one"></hr>
            <span id="reception-photo">
                <img src="{{ url_for('static', filename='images/pd_sabine.jpg') }}"/>
            </span>
            <hr class="style-one" id="second"></hr>
            <span class="subheader">Where:</span>
            <a href=https://goo.gl/maps/rk8DTZQtxby>
                <p>Palm Door on Sabine, 401 Sabine Street</p>
            </a>
            <span class="subheader">When:</span>
            <p> February 10, 2016 5:00-11:00 P.M.</p>
            <span class="subheader">Details:</span>
            <p> Paella, tapas, pintxos, drinks and tunes!</p>
            <span class="subheader">Parking:</span>
            <p>
                Downtown Austin parking is notoriously difficult. We recommend either taking a rideshare service from your hotel to and from the reception or parking at the Convention Center (rates are about $10-$15 for 6-7 hours), which is just a couple blocks away. If you're willing to put in the effort, you can always scour the block for street parking; however, there are often three-hour  limits on street parking.
            </p>
        </div>
    </div>
{% endblock %}