{% extends "base.html" %}
{% block title %}
    Amanda and Sean Photos
{% endblock %}
{% block content %}
  <div class="container" id="reception">
        <br>
        <br>
        <h1><b>Reception</b></h1>
        <div class="row">
            <div class="six columns">
                <span class="subheader">Where:</span>
                <p>Palm Door on Sabine, 401 Sabine Street</p>
                <span class="subheader">When:</span>
                <p> February 10, 2016 5:30-11:00 P.M.</p>
                <span class="subheader">Details:</span>
                <p> Eats, drinks (traditional Spanish food) and music!</p>
                <span class="subheader">Parking:</span>
                <p>
                    <b>Street parking only</b>; As downtown Austin parking is notoriously difficult, we recommend either taking a rideshare service from your hotel to and from the reception, parking at the Convention Center (rates are about $10-$15 for 6-7 hours), which is just a couple blocks away. You can always scour the block for street parking; however, there are often three-hour limits on street parking.
                </p>
            </div>
            <div class="six columns">
                <h2>PHOTO(S) GO HERE</h2>
            </div>
        </div>
    </div>
{% endblock %}