<section class=home-page-section id='registries'>
	<h1> Registries </h1>
	<p>
	We are all about a minimalist approach to life so we try to be very mindful of decisions we make about purchases and "things" in our life. We know it's not about what we have but how we extract meaning from our lives that will make us happy! That being said, We love to cook so are pretty well-equipped in the kitchen but there are just a few things we could use help with. If not, your presence is your present! And if you feel like you really would like to give a gift, we would appreciate a monetary gift to go toward furniture for our new home.
	</p>
	<div class="row">
		<div class="six columns">
			<a href='https://www.amazon.com/wedding/share/blease-be-my-kennedy' target=_blank>
				Amazon
				<!--<img src="{{ url_for('static', filename='images/amazon-logo-grey.png') }}"/>-->
			</a>
		</div>
		<div class="six columns">
			<a href='http://www.crateandbarrel.com/gift-registry/amanda-blease/r5464896' target=_blank>
				Crate and Barrel
				<!---<img src="{{ url_for('static', filename='images/crate-and-barrel-logo.jpeg') }}"/>-->
			</a>
		</div>
	</div>
<a name="registries"><a>
</section>

  
