{% extends "base.html" %}
{% block title %}
    Wedding Registry
{% endblock %}
{% block content %}
<div class="container">
	<br>
	<br>
	<h1><b>Registry</b></h1>
		<h2> REGISTRY CONTENT GOES HERE.</h2>
	<div class="row">
		<div class="two columns offset-by-four">
			<!--<a href='https://www.amazon.com/wedding/share/blease-be-my-kennedy' target=_blank>
				<img src="{{ url_for('static', filename='images/amazon-logo-grey.png') }}"/>
			</a>
			<br>
			<a href='http://www.crateandbarrel.com/gift-registry/amanda-blease/r5464896' target=_blank>
				<img src="{{ url_for('static', filename='images/crate-and-barrel-logo.jpeg') }}"/>
			</a>-->
		</div>
	</div>
</div>
{% endblock %}

  
