{% extends "base.html" %}
{% block title %}
    SKAB Wedding Registry
{% endblock %}
{% block container %} 
	<h2> Registries </h2>
		<section id='registry_links'>
     		<a href='https://www.amazon.com/wedding/share/blease-be-my-kennedy' target=_blank>
     			amazon link
     			<!--- <img src='http://library.corporate-ir.net/library/17/176/176060/mediaitems/93/a.com_logo_RGB.jpg'/> -->
     		</a>
     		<br>
     		<a href='http://www.crateandbarrel.com/gift-registry/amanda-blease/r5464896' target=_blank>
     			crate and barrel link
     			<!--- <img src='http://images.crateandbarrel.com/is/image/Crate/WebsiteHeaderLogo?wid=295'/> -->
     		</a>
		</section>
{% endblock %} 
  
