{% extends "base.html" %}
{% block title %}
    RSVP
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <div class="ten columns offset-by-three">
        <h1><b>RSVP</b></h1>
            <span id="errors">
                {% if errors != None %}
                    {% if errors['name'] %}
                        Uh oh, something went wrong. <br> 
                        Retype your name with a <b>single space</b> between first and last name.
                    {% else %}
                        You must fill out your name, email, the name of your guests<br>
                        and the event(s) you're attending.
                    {% endif %}        
                {% endif %}
            </span>
            <form method="post" id="form" action="{{ url_for('general.rsvp') }}">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name(class_="u-half-width") }}                        
                {{ form.email.label }} {{ form.email(class_="u-half-width") }}
                {{ form.events.label }} {{ form.events(class_="u-half-width") }}
                {{ form.guests.label }} {{ form.guests(class_="u-half-width") }} 
                <button type="button" class="button-primary" id="add_guest_button">Add Guest</button>
                <span id="guest_1">
                    {{ form.add_guest_1.label }} {{ form.add_guest_1(class_="u-full-width") }}
                </span>
                <span id="guest_2">
                    {{ form.add_guest_2.label }} {{ form.add_guest_2(class_="u-full-width") }}
                </span>
                <span id="guest_3">
                    {{ form.add_guest_3.label }} {{ form.add_guest_3(class_="u-full-width") }}
                </span>
                <span id="guest_4">
                    {{ form.add_guest_4.label }} {{ form.add_guest_4(class_="u-full-width") }}
                </span>
                <span id="guest_5">
                    {{ form.add_guest_5.label }} {{ form.add_guest_5(class_="u-full-width") }}
                </span>
                <br>
                <span id="guest_limit" style="color:red;"> 
                    <b>You've reached your guest limit.</b>
                <br>
                </span>
                <button class="button-primary" id="rsvp_button">RSVP</button>
            </form>
            <b> If you have any questions, reach out to <a href src="mailto:amandablease@gmail.com">amandablease@gmail.com</a>.</b>
        </div>
    </div>
{% endblock %}


  