<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <header>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    </header>
    <!-- Body -->
    <body>
        <!--- Nav -->
        <nav>
            {% include 'navigation.html' %}
        </nav>
        {% if form.errors != 'None' %}
            {% for error in form.errors %}
                <p class="invalid">
                    <input value="{{ form.errors[error][0] }}">
                </p>
            {% endfor %}
        {% endif %}
        <!-- RSVP Form --> 
        <section class="rsvp-section" id="form">
        <h1>RSVP</h1>
            <form method="post" action="{{ url_for('general.submit_rsvp') }}">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name(class_="u-half-width") }}                        
                {{ form.email.label }} {{ form.email(class_="u-half-width") }}
                {{ form.guests.label }} {{ form.guests(class_="u-half-width") }}
                {{ form.hotel_rec.label }} {{ form.hotel_rec(class_="u-half-width") }}
                <br>
                {{ form.submit(size=10) }}
            </form>
        </section>
    </body>
    <!-- Footer -->
    <footer>
    </footer>
</html>

  