<!DOCTYPE html>
	<!-- Header -->
	<head>
		<title>Success</title>
		<meta charset="utf-8">
		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- FONT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		
		<!-- CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">	
	</head>
	<body>
		<div class="container" style="text-align:center">
			<br>
			<h1>SUCCESS!</h1>
			<p>Thanks for giving us a heads up. We're excited for you to share this moment with us.</p>
	        <div class="row" id="navigation">
            <div class="twelve columns" id="nav">
                <a href="/">Back to Homepage</a>
            </div>
        </div>
		</div>
		<!-- JS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/custom.js') }}"></script>   	
	</body>
</html>

