
/* --------NAVIGATION ---------*/

/* For Smooth Scrolling */

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
/*---*/

#nav {
	text-align: center;
}

#nav a {
	text-decoration: none;
	color:#33c3f0;
}

@media (max-width: 400px) {
	#nav a {
		font-size:0.7em;
	}
    .home_header > h1 {

    font-weight:bold;
    font-size:4em;
    }
}

@media (min-width: 400px) {
	#nav a {
		font-size:1em;
	}
}

@media (min-width: 1200px) {
	#nav a {
		font-size:1.5em;
	}
}

/* -------- HOME  ---------*/

.home_header > h1 {

    font-weight:bold;
    font-size:6em;
}

/* -------- CEREMONY & RECEPTION ---------*/

.subheader {

    font-weight:bold;
    font-size:1.25em;
}

/* -------- FORM ERRORS ---------*/

#errors {

    color:red;
    list-style-type:none;

}

/* -------- FORM ERRORS ---------*/

#registry.container {

    text-align: center;
    padding: 100px;

}




