
/* --------NAVIGATION ---------*/

/* For Smooth Scrolling */

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

/* ----- Media Queries ---*/

@media (max-width: 785px) {

  /*---- Home ----*/

  .home_header > h1 {

    font-weight:bold;
    font-size:5em;
  }


  /*----- Nav -----*/

  #nav {
    display: none;
  }

  #home-nav {
    display: none;
  }


  .mobile{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .mobile .header{
    background-color: #50C878;
    color: #fff;
    padding: 10px;
  }
  
  .line{
    width: 30px;
    height: 2px;
    margin: 10px 0;
    background-color: #fff;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  .mobile-nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }


  /* MOBILE TWO */

  /*.mobile-two{
    background: #8a43a3;
    background: -webkit-linear-gradient(#8a43a3, #5c6bac); 
    background: -o-linear-gradient(#8a43a3, #5c6bac); 
    background: -moz-linear-gradient(#8a43a3, #5c6bac); 
    background: linear-gradient(#8a43a3, #5c6bac);
  }*/
  
  .mobile-two .mobile-nav{
    background-color: #3e3d3b;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
  }
  
  .mobile-two .mobile-nav li a{
    color: #FFFFFF;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
  }
  
  .mobile-two .mobile-nav li a:hover{
    background-color: #33c3f0;
    color: #fff;
  }

  .home_header > h1 {
    font-weight:bold;
    font-size:4em;
  }
}

@media (min-width: 785px) {

  #navigation > div.mobile.mobile-two {
    display: none;
  }

  #home-nav, #nav {
    text-align: center;
  }
  
  #home-nav a {
    text-decoration: none;
    color:#50C878;
    font-weight:bold;

  }

  #nav a {
    text-decoration: none;
    color:#50C878;
    font-weight:bold;
  }

  #nav a {
    font-size:1em;
  }

  #home-nav a {
    font-size:1.5em;
  }

}

@media (min-width: 785px) {
	#nav a {
		font-size:1.5em;
	}
}

/* -------- HOME  ---------*/

.home_header > h1 {

    font-weight:bold;
    font-size:6em;
}

#welcome {
    background-size:cover;
    background-image: url('/static/images/home_photo.png');
}


/* -------- CEREMONY & RECEPTION ---------*/

.subheader {

    font-weight:bold;
    font-size:1.25em;
}

.four > img:nth-child(1) {
  max-width:100%;
  max-height:90%;
}

div.six:nth-child(2) > img:nth-child(1) {
  max-width:100%;
  max-height:100%;
}

/* -------- RSVP ---------*/

#errors {

    color:red;
    list-style-type:none;

}
#form {
}

/* -------- REGISTRY ---------*/

#registry.container {

    text-align: center;
    max-width: 100%;
    padding-top: 50px;

}

/* -------- MANAGE ---------*/

#current_guests.twelve.columns {

  width:100%;
  overflow-y: auto;
  height:400px;
}



